/.idea
/360ytmp3.com_320kbps-sonic-exe-laugh-sound-effect.mp3
/audioloja.mp3
/belaescolha.mp3
/bluesao.jfif
/bluesaoarmado.jfif
/borbadevil.png
/borbadevilvermeioriginal.png
/comediaa.mp3
/compradano.txt
/compravida.txt
/daneliya.jfif
/danojogador.txt
/datafiles
/Factorio Defeat Sound Effect_r35qcOHUuZs.mp3
/hesbackimagem.png
/kanyegun.jfif
/kanyegun2.jfif
/kanyemorto.png
/kanyewest.jfif
/mari.jpg
/marivermei.jpg
/matheus.jfif
/options
/pampampam.mp3
/pedrapapel.txt
/policial.jfif
/saida.txt
/scream.mp3
/socorro.mp3
/sonic exe chase_816nYpit5zU.mp3
/Sonic.exe-Green-Hill-Zone-Song.mp3
/taylor swiftoriginal.png
/taylor swiftoriginalmorta.png
/taylorded.mp3
/terror.mp3
/The Decisive Battle - Música de Suspense e Ação para usar em fundo de vídeos do YouTube__QNlsHrbkYE.mp3
/tretablue.mp3
/venv
/veri4.txt
/veridoce.txt
/verijogo.txt
/Victory - Sound Effect_EQtGmxuIPFY.mp3
/vidacombate.txt
/__pycache__